.container {
  margin: 0px auto;
  margin-top: -47%;
  width: 60%;
  height: 60%;
  padding: 10%;
  border: 1px dotted yellow;
  border-radius: 50%;
  background-color: #FFFFAA;
  box-shadow: 0px 30px 40px #FFFFAA;
}

th {
  text-align: left;
}

body {
  background: url('../paper.png');
  background-repeat: repeat;
  opacity: 0.7;
}

.content {
  margin-left: 15%;
  margin-right: 15%;
  padding: 0px;
  height: 100%;

}

.color {
  background-color: #99AAAA;
  height: 100%;
  padding-bottom: 30%;
}


.header a {
  position: fixed;
  width: 100%;
  margin-right: 15%;
  padding-left: 15%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #666699;
  text-decoration: none; 
  font-family: 'Freckle Face', serif;
  font-size: 50px;
  font-weight: 100;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: yellow;
  color: transparent;
  text-shadow: 7px 7px 7px #99AAAA;
  box-shadow: -20px 30px 40px #666699;
}


.page_content {
  padding-top: 40%;
}

h1 {
  font-family: 'Freckle Face', sans-serif;
  font-size: 4em;
  width: 100%;
  text-align: center;
  color: #FFFF00;
  text-shadow: 0px 2px 10px #666699;
  opacity: 1;
}

.control_1{
  display: inline-block;
  width: 44%;
  padding-left: 0;
  font-family: 'Freckle Face', sans-serif;
}
.control_2{
  display: inline-block;
  width: 44%;
  padding-left: 10%;
  font-family: 'Freckle Face', sans-serif;
}
.control_3{
  display: inline-block;
  width: 49%;
  padding-left: 5%;
  font-family: 'Freckle Face', sans-serif;
}
.control_4{
  display: inline-block;
  width: 49%;
  padding-left: 15%;
  font-family: 'Freckle Face', sans-serif;
}
.control_5{
  display: inline-block;
  width: 100%;
  padding-left: 30%;
  font-family: 'Freckle Face', sans-serif;
}

input.button {
  font-family: 'The Girl Next Door', cursive;
  color: yellow;
  border: none;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0px 5px 5px #666699;
}

.container_forms {
  width: 80%;
  height: 60%;
  padding: 10%;
  border: 1px dotted yellow;
  border-radius: 50%;
  background-color: #FFFFAA;
  box-shadow: 0px 30px 40px #FFFFAA;
}





