/*.container {
  margin: 0px auto;
  margin-top: -48%;
  width: 60%;
  height: 60%;
  padding: 10%;
  border: 1px dotted yellow;
  border-radius: 50%;
  background-color: #FFFFAA;
  box-shadow: 0px 30px 40px #FFFFAA;
}*/

th {
  text-align: left;
}

body {
  background: url('../paper.png');
  background-repeat: repeat;
  opacity: 0.7;
}

.header {
  position: fixed;
  padding-top: 3%;
  width: 100%;
  background-color: #666699;
  box-shadow: 0px 40px 30px #666699;
}


.header a {
  position: relative; 
  float: left;
  margin-left: 3%;
  text-decoration: none; 
  font-family: 'Freckle Face', serif;
  font-size: 45px;
  font-weight: 100;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: yellow;
  color: transparent;
  text-shadow: 7px 7px 7px #99AAAA;
}

.control {
  font-family: 'Freckle Face', sans-serif;
  float: left;
  position: relative;
  padding-left: 4%;

}


.page_content {
  padding-top: 20%;
}

h1 {
  font-family: 'Freckle Face', sans-serif;
  font-size: 4em;
  width: 100%;
  text-align: center;
  color: #FFFF00;
  text-shadow: 0px 5px 20px #666699;
  opacity: 1;
}


input.button {
  font-family: 'The Girl Next Door', cursive;
  color: yellow;
  border: none;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 0px 5px 5px #666699;
  background-color: #666699;
}

.container_forms {
  width: 80%;
  height: 60%;
  padding: 10%;
  border: 1px dotted yellow;
  border-radius: 50%;
  background-color: #FFFFAA;
  box-shadow: 0px 30px 40px #FFFFAA;
}





