<div>
	<label for="title">Title:</label>
  <input id="title" name="post[title]" type="text" value="<%= @post.try(:title) %>"> 
</div>

<div>
  <label for="body">Post:</label>
  <textarea cols="50" rows="7" id="body" name="post[body]" type="text"><%= @post.try(:body) %></textarea> 
</div>

<div>
  <label for="category">Add Tags:</label>
  <input id="category" name="tag[category]" type="text">
</div>

<div>
  <input type="submit" value="Submit Post">
</div>