<div class="container">
	<form action="/edit_post" method="post"><br>
		<input type="hidden" name="id" value="<%= "#{@post.id}" %>">
		<%= erb :_form_fields, layout: false %>
	</form><br>
	<a href="../">Return Home</a>
</div>