<h1>WELCOME TO THE ANONYMOUS BLOG!</h1>

<div class="container">

 
  <div class="control_1">
   <form name="create" action="/create_post" method="get">
     <input class="button" type="submit" value="Create An Anonymous Post">
   </form><br>
  </div>

  <div class="control_2">
   <form name="read" action="/view_all" method="get">
     <input class="button" type="submit" value="Read The Blog">
   </form><br>
  </div>


  <div class="control_3">
   <form name="view" action="/post" method="post">
     Post Number:<input type="text" size="1" name="id">
     <input class="button" type="submit" value="View Post">
   </form><br>
  </div>

  <div class="control_4">
   <form name="tag" action="/tag" method="post">
     Tag:<input type="text" size="2" name="category">
     <input class="button" type="submit" value="View Post By Tag">
   </form><br>
  </div>


  <div class="control_5">
   <form name="edit" action="/get_post" method="post">
     Post Number:<input type="text" size="1" name="id">
     <input class="button" type="submit" value="Edit Post">
   </form><br>
  </div>



</div>
