<div class="container">
  <h1>WELCOME TO THE ANONYMOUS BLOG!</h1>
  <h3>What would you like to do?</h3>

 <a href="../create_post">Create An Anonymous Post</a><br>
 <a href="../get_post">Edit A Post</a><br>
 <a href="../post">View A Post</a><br>
 <a href="../view_all">Read The Blog</a><br>
 <a href="../view_by_tag">View By Tag</a>

</div>
