<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Freckle+Face' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Bloggonit'</title>
</head>
<body>
  

  <div class="header">
    <div class="title">
      <a href="../">Bloggonit'</a>
    </div>

 
    <div class="control">
     <form name="create" action="/create_post" method="get">
       <input class="button" type="submit" value="Create Post">
     </form><br>
    </div>

    <div class="control">
     <form name="read" action="/view_all" method="get">
       <input class="button" type="submit" value="Read The Blog">
     </form><br>
    </div>


    <div class="control">
     <form name="view" action="/post" method="post">
       Post Number:<input type="text" size="1" name="id">
       <input class="button" type="submit" value="View Post">
     </form><br>
    </div>

    <div class="control">
     <form name="tag" action="/tag" method="post">
       Tag:<input type="text" size="2" name="category">
       <input class="button" type="submit" value="Tag Search">
     </form><br>
    </div>


    <div class="control">
     <form name="edit" action="/get_post" method="post">
       Post Number:<input type="text" size="1" name="id">
       <input class="button" type="submit" value="Edit Post">
     </form><br>
    </div>

</div>

  <div class="content">
     
    <div class="page_content">
      <%= yield %>
    </div>


    


  </div>


</body>
</html>
