
<% @posts.each do |post| %>
  <div class="container_forms">
	<h2><%= "#{post.title}" %></h2>
	<p><%= "#{post.author}" %></p>
	<p><%= "#{post.body}" %></p>
	Tags: <% post.tags.map do |t| %>
			<%= "#{t.category}" %>
		  <% end %><br><br>
	  </div>
	<% end %>

